
<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sr.No</th>
                <th>First Name</th>
                <th>last Name</th>
                <th>Email</th>
                <th>Contact</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stds of stdArr;let i = index">
                <td>{{i+1}}</td>
                <td>{{stds.fname}}</td>
                <td>{{stds.lname}}</td>
                <td>{{stds.email}}</td>
                <td>{{stds.contact}}</td>
                
            </tr>
        </tbody>
    </table>
</div>
