 <h2 class="alert alert-info text-center">Student</h2>
<div class="container">
  <div class="row">
    <div class="col-md-6 mb-4">
      <app-stdform (stdDates)="stddate($event)"></app-stdform>
    </div>
    <div class="col-md-6">
      <app-stdtable [stdArr]="stdentarr"></app-stdtable>
    </div>
    
  </div>
  <h2 class="alert alert-info text-center">Product service</h2>
 <div class="row">
  <div class="col-md-6 offset-md-3" >
    <app-productform></app-productform>
    <app-productcard [product]="products" *ngFor="let products of sProdArray"></app-productcard>
  </div>
 </div>
</div>

