<div class="form-group">
    <label for="fname">Std Name</label>
    <input type="text" id="fname" #fname class="form-control">
</div>
<div class="form-group">
    <label for="lname">Std lname</label>
    <input type="text" id="lname" #lname class="form-control">
</div>
<div class="form-group">
    <label for="email">Std Email</label>
    <input type="text" id="email" #email class="form-control">
</div>
<div class="form-group">
    <label for="contact">Std Contact </label>
    <input type="text" id="contact" #contact class="form-control">
</div>
<div class="text-right">
    <button class="btn btn-primary " (click)="onstudents()"> student</button>
</div>
